{{ if segment_3 == ""}}
<div class="row">
  <div class="span8">
    <h1>{{ title }}</h1>
    {{ taxonomy:listing folder="blog" type="categories" }}
      {{ if no_results }}
        <p>{{ no_results_text }}</p>
      {{ else }}
        <h3>{{ name|title }}</h3>
        {{entries:listing folder="blog" conditions="categories:{name}"}}

          {{ if no_results }}
            {{ no_results_text }}
          {{ else }}
            {{ if first }}<ul>{{ endif }}
              <li><a href="{{ url }}">{{ title }}</a></li>
            {{ if last }}</ul>{{ endif }}
          {{ endif }}
        {{ /entries:listing }}

      {{ endif }}
    {{ /taxonomy:listing }}
  </div>
  {{ theme:partial src="sidebar" }}
</div>
{{ else }}
  {{ if taxonomy_slug }}
<div class="row">
  <div class="span12">
    <h1>Blog Category: <em>{{ taxonomy_slug }}</em></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="span8 entries">

      {{ entries:listing folder="blog" taxonomy="yes" limit="10"}}
      {{ if no_results }}
        {{ no_results_text }}
      {{ else }}
        <div class="entry">
          <h2><a href="{{ url }}">{{ title }}</a></h2>
          <p class="entry-meta">Posted on <span class="date"> {{ date }}</span>.</p>
      
          {{ content }}
        </div>
      {{ endif }}
      {{ /entries:listing }}

      {{ entries:pagination folder="blog" taxonomy="yes" limit="10"}}
        {{ if previous_page }}
          <a href="{{ previous_page }}" class="btn">Previous</a>
        {{ endif }}
        {{ if next_page }}
          <a href="{{ next_page }}" class="btn">Next</a>
        {{ endif }}
      {{ /entries:pagination }}
  </div>
  
  {{ theme:partial src="sidebar" }}

</div>

{{ else }}

<div class="row">
  <div class="span12">
      <h1>Categories</h1>
      {{ content }}
    </div>
</div>

{{ endif }}

{{ endif }}